name: Rust

on:
  push:
    branches: [ "main", "develop", "0.3.0" ]
  pull_request:
    branches: [ "main", "develop", "0.3.0" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run:  cargo test --workspace --verbose  -- --test-threads=1  
